#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--white);

}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #e1e1e1;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    height: 85px;
    margin: 0 auto;
    border-top: 1px solid #b1b1b1;

    a {
        color: var(--black);
        font-weight: 500;
        display: inline-block;
        transform: translateX(-50%);
        margin-left: 260px;

        &:hover {
            @include underline;
            text-decoration-color: var(--black);
        }
    }
}

@media (max-width: 800px) {
    #header {
        left: -260px;
        transition: all 0.4s ease-in-out;

        &.show {
            left: 0;
        }
    }

    #main {
        padding-left: 0;
    }
}