.search__inner {
    width: 100%;
    padding: 17px 40px;

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: #ffffff;
        padding: 15px 30px;
        color: var(--black);
        font-weight: 700;
        border-bottom: 3px inset rgba(255, 166, 0, 0.5);
        ;
    }
}