#today {}

.today__inner {
    display: flex;
    min-height: 250px;
    margin-bottom: 40px;

    .today__thumb {
        width: 40%;
        display: flex;
        align-items: center;

        a {
            display: block;
            cursor: pointer;
            min-height: 250px;
            width: 100%;
            padding-bottom: 56.25%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .today__text {
        width: 60%;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.4392156863);
        ;


        .today {
            width: 150px;
            font-size: 1.2rem;
            color: var(--black);
            font-weight: 600;
            line-height: 1;
            padding: 10px 15px;
            border-radius: 30px;
            display: block;
            text-align: center;
            border: 5px solid rgb(255 184 77 / 77%);
        }

        .title {
            font-size: 1.2rem;
            font-weight: 600;
            width: 100%;
            @include line-one;
            margin-bottom: 10px;
        }

        .desc {
            font-size: 1rem;
            color: var(--black200);
            @include line(3);
            margin-bottom: 10px;
        }

        .info {
            height: 30%;
            display: flex;
            align-items: flex-end;

            .author {
                cursor: pointer;
                padding: 5px 15px;
                background-color: #ffecc1;
                font-weight: 600;
            }

            .date {
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
    }
}

@media(max-width:800px) {
    .today__inner {
        display: block;
        min-height: 0;
        margin-bottom: 20px;

        .today__thumb {
            width: 100%;

            a {
                min-height: 0;
            }
        }

        .today__text {
            width: 100%;
            min-height: 220px;

            .info {
                justify-content: space-between;
            }
        }
    }


}