.youtubers__inner {
    display: flex;
    flex-wrap: wrap;

    .youtubers {
        margin-top: 15px;

        .youtubers__img {
            border-radius: 50%;
            overflow: hidden;
            border: 0.5px solid #d9d9d9;
        }

        .youtubers__info {
            padding-top: 5px;
            text-align: center;
            @include line(2);
            word-break: keep-all;
        }
    }
}

#youtubers {
    .youtubers__inner {
        text-align: center;
        margin: 10px;
        justify-content: space-between;

        .youtubers {
            width: 170px;
            border: 1px solid #00000021;
            background-color: #ffffff9c;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin-right: 10px;
            margin-bottom: 10px;

            .youtubers__img {
                width: 150px;
                height: 150px;
                border: 5px solid rgb(255 184 77 / 77%);
            }

            .youtubers__info {
                text-align: center;
                line-height: 1.1;
            }
        }
    }

    @media (max-width : 800px) {
        .youtubers__inner {
            justify-content: space-between;

            .youtubers {
                width: 23%;
                margin-right: 0;

                .youtubers__img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    @media (max-width : 600px) {
        .youtubers__inner {
            .youtubers {
                width: 31%;
            }
        }
    }
}